.mapContainer {
    height: 100vh !important;
    width: 40% !important;
    position: sticky !important; /* !important to override Gmaps inline CSS */
    top: 0 !important;
  }

  .marker {
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
  }
